@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Book-My-Table</h1>

    @** <a asp-page="/Customers">Find restaurants nearby</a>*@
    <a href="@Url.Action("Index","Customers")">Find restaurants nearby</a>
    <form asp-controller="Home" asp-action="Booking" method="post">
        <button type="submit" class="btn-primary">Book Your Table</button>
    </form>

</div>
